body
{
	margin:0;
	padding:0;
	background-image: url('fbb.png');
	background-size:cover;
	background-position:center;
	font-family: sans-serif;
}
.font
{
	font-family:cm sans serif 2012;
	 font-size:200%;
     color:black;
}
.font1
{
	font-family:cm sans serif 2012;
	 font-size:120%;
     color:black;
}
.email
{
 width:30%;
 height:7%;
 border-radius:10px;
}
.na
{
  width:60%;
 height:30%;
 border-radius:10px;
}
